<html>
<body>
	<h1>Log in</h1>
	<!-- Błąd logowania -->
	@if (ViewBag.LoginError != null)
	{
		<div style="color:red;">
			@ViewBag.LoginError
		</div>
	}
	<form asp-action="Login" method="post">
		<div asp-validation-summary="All" class="text-danger"></div>
		<label for="email">Email:</label>
		<input type="text" id="email" name="Email" required>
		<br />
		<label for="password">Password:</label>
		<input type="password" id="password" name="Password" required>
		<br />
		<button type="submit">Submit</button>
		<br />
		<a asp-controller="User" asp-action="Register">Register new account</a>
	</form>
</body>
</html>