@{
	ViewData["Title"] = "Bank Service";
	<link rel="stylesheet" href="~/css/BankServiceStyle.css" />
}

<div class="main-container">
    <div class="header">
        <h2>Your Account</h2>
        <button class="settings-button">Settings</button>
    </div>

    <div class="greeting-container">
        <div class="greeting-box">
            <h1>Hello, how</h1>
            <h1>is Your day?</h1>
        </div>
    </div>

    <div class="balance-cards-container">
        <div class="balance-box">
            <h2>Saldo</h2>
        </div>
        <div class="cards-box">
            <h2>Cards</h2>
        </div>
    </div>

    <div class="transactions-container">
        <div class="calculations-box">
            <h2>Calculations / How much did you spend this month?</h2>
        </div>
        <div class="history-box">
            <h2>History of transactions</h2>
        </div>
    </div>
</div>