:root {
    --main-color: #3ae8a4;
    --secondary-color: #0fe419;
    --third-color: #e9ba4d;
    --fourth-color: #ce6aec;
    --cancel-color: #e8563a;
    --white-color: #f0e6d9;
    --background-color: #19181f;
    --scd-background-color: #262b30;
}

body {
    background: var(--background-color);
    color: var(--white-color);
}

.main {
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 10px 0 30px;
}

    .main h1 {
        font-size: 50px;
    }

    .main .box {
        background: var(--scd-background-color);
        border: 1px solid var(--main-color);
        padding: 25px;
        display: flex;
        overflow: hidden;
    }

.zoom-animation {
    transition: transform 0.3s ease-in-out;
}

    .zoom-animation:hover {
        transform: scale(1.05);
    }

#top-box {
    display: flex;
    border: 1px solid var(--main-color);
    background: transparent;
    justify-content: space-between;
    padding: 10px 15px;
    width: 100%;
}

    #top-box div {
        flex: 1;
        text-align: center;
        height: 40px;
    }

        #top-box div:nth-child(3) {
            text-align: right;
        }

    #top-box h2 {
        font-size: 40px;
        color: var(--main-color);
    }

.main .logo {
    height: 40px;
    display: block;
}

#settings-button {
    color: var(--main-color);
    font-size: 35px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

    #settings-button:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

.greeting-container {
    display: flex;
    justify-content: center;
    text-align: center;
    user-select: none;
    cursor: default;
}

    .greeting-container img {
        width: 200px;
        margin-top: 20px;
        transition: transform 0.3s ease-in-out;
    }

        .greeting-container img:hover {
            transform: scale(1.07);
        }

#greeting-box {
    display: inline;
    background: transparent;
    color: var(--main-color);
    border: none;
}

.fancy-text {
    --a: -45deg;
    --t: 0.23em;
    color: var(--third-color);
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.5;
    text-transform: capitalize;
}

    .fancy-text span {
        --_s: calc(var(--t) * cos(var(--a)));
        background: linear-gradient( var(--a), #0000 var(--_s), currentColor 0 calc(100% - var(--_s)), #0000 0 ) bottom/var(--i, 90%) var(--t) no-repeat;
        padding: 0 0.25em calc(var(--t) * 0.5);
        box-decoration-break: clone;
        transition: 0.3s;
    }

    .fancy-text:hover span {
        --i: 100%;
    }

.balance-cards-container {
    display: flex;
    width: 100%;
    margin-top: 20px;
    height: auto;
}

#balance-box {
    flex-basis: 50%;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

    #balance-box div {
        display: flex;
        color: var(--third-color);
    }

#currency {
    margin-left: 10px;
    color: var(--fourth-color);
    opacity: 0.75;
}

.main a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 0 0.1em inset var(--main-color);
    color: var(--white-color);
    --_g: linear-gradient(var(--main-color) 0 0) no-repeat;
    background: var(--_g) calc(var(--_p, 0%) - 100%) 0%, var(--_g) calc(200% - var(--_p, 0%)) 0%, var(--_g) calc(var(--_p, 0%) - 100%) 100%, var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
    outline-offset: 0.1em;
    transition: background-size 0.4s, background-position 0s 0.4s, color 1s;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 0.1em 0.6em;
}

    .main a:hover {
        --_p: 100%;
        transition: background-position 0.4s, background-size 0s, color 1s;
        color: black;
    }

    .main a:active {
        box-shadow: 0 0 5px 5px inset var(--third-color);
        background-color: var(--third-color);
        color: black;
    }

.buttons-container {
    display: flex;
    justify-content: space-around;
}

    .buttons-container a {
        flex-basis: 45%;
        font-size: 24px;
    }

#cards-box {
    flex-basis: 50%;
    display: flex;
}

.bottom-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    height: 500px;
    gap: 5px;
}

#calculations-box {
    flex-basis: 30%;
    margin-right: 10px;
    flex-direction: column
}

#history-box {
    flex-grow: 1;
    flex-direction: column;
}

.main ul {
    list-style-type: none;
    font-size: 21px;
    padding: 0;
}

.main li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.5px solid var(--main-color);
    width: 100%;
}

    .main li span {
        text-align: left;
        flex: 1;
    }

        .main li span:first-child {
            text-align: left;
        }

        .main li span:nth-child(2) {
            text-align: left;
        }

        .main li span:nth-child(3) {
            text-align: center;
            flex-wrap: nowrap;
        }

        .main li span:last-child {
            text-align: right;
        }

        .main li span.outgoing {
            color: var(--cancel-color);
            margin-right: 6px;
        }

        .main li span.incoming {
            color: var(--secondary-color);
            margin-left: 6px;
        }

#ibanBtn {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
}
