<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MyBank</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Navbar.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/MyBankWebApp.styles.css" asp-append-version="true" />
</head>
<body>
	<header id="custom-header">
		<a asp-controller="Home" asp-action="Index" class="logo">
			<img src="~/img/Logos/Logo-green.png" alt="Logo" class="logo zoom-animation">
		</a>
		<div class="nav-list">
			<ul class="navbar-nav flex-row">
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="BankService" asp-action="Index">Bank Service</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin Only</a>
				</li>
			</ul>
		</div>
		<div class="auth-btns" >
			<ul class="navbar-nav flex-row ">
				<li class="nav-item">
					<button onclick="toggleNightMode()" >Toggle Night Mode</button>
				</li>
		@if (User.Identity.IsAuthenticated)
		{
					<li class="nav-item">
						<form asp-controller="User" asp-action="Logout" method="post" class="form-inline">
							<button type="submit" class="btn btn-link nav-link">Logout</button>
						</form>
					</li>
		}
		else
		{
					<li class="nav-item">
						<a class="btn btn-link nav-link" asp-area="" asp-controller="User" asp-action="Login">Log in</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-link nav-link" asp-area="" asp-controller="User" asp-action="Register">Register</a>
					</li>
		}
			</ul>
		</div>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
		@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2025 - MyBankWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
			@await RenderSectionAsync("Scripts", required: false)
<script>
	function toggleNightMode(){
		document.body.classList.toggle('night-mode');
		var boxes = document.querySelectorAll('.box');
		boxes.forEach(function(box){
			box.classList.toggle('night-mode');
		});
	}
</script>
</body>


</html>


